<div class="row">
    <div class="col">
        <!--Por cada servidor crearemos una tarjeta
        con el nombre y el estado del servidor-->
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Server name</h5>
                <input type="text" name="server_name">
                <h5 class="card-title">Server status</h5>
                <select name="server_status">
                    <option default>Online</option>
                    <option>Offline</option>
                </select>
            </div>
        </div>
    </div>
</div>

